body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: white;
}

.redalert {
  animation: redalert 3s forwards;
}

@keyframes redalert {
  0% {
    color: black;
  }

  25% {
    color: red;
  }

  50% {
    color: black;
  }

  75% {
    color: red;
  }

  100% {
    color: black;
  }
}